<div class="header_div">
  <div class="title_and_forms">
    <div class="title">
      <h1>Mana HR Platform</h1>
      <h2>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CR with median:
      </h2>
    </div>
    <div>
      <br />
      <br />
      <br />
      <div class="forms">
        <div><p class="circle_1">→</p></div>
        <div class="rectangles">
          <div class="rectangle_1"><h3>My company vs Market</h3></div>
          <div class="rectangle_2">103%</div>
        </div>
      </div>
    </div>
  </div>
  <div class="logo_and_user">
    <img src="assets/ASG_Logo.svg" alt="asg_logo" class="asg_logo" />
    <br />
    <br />
    <br />
    <div class="user_and_logout">
      <span class="user">{{ user }}</span>
      <span class="logout" (click)="logout()">Logout</span>
    </div>
  </div>
</div>
<div class="table_div">
  <div class="table_title">Jobs</div>
  <div class="table2_div">
    <table class="table">
      <tr class="tr1">
        <th></th>
        <th></th>
        <th></th>
        <th></th>
        <th>Number of eployees</th>
        <th></th>
        <th>Distribution of underpaid/overpaid employees</th>
      </tr>
      <tr class="tr2">
        <th>Job Category</th>
        <th>Number</th>
        <th>Salaries ⓘ</th>
        <th style="color: red">Underpaid</th>
        <th style="color: orange">Corresponding to the market</th>
        <th style="color: green">Overpaid</th>
        <th></th>
      </tr>
      <tr *ngFor="let puesto of puestos" class="valores_tabla">
        <td>{{ puesto.job_title }}</td>
        <td>1</td>
        <td>120% ↑</td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>
          <div class="graph">
            <div style="background-color: red; height: 100%; width: 35%"></div>
            <div style="background-color: orange; height: 100%; width: 25%"></div>
            <div style="background-color: green; height: 100%; width: 40%"></div>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
