<div class="header_div">
  <div class="title_and_forms">
    <div class="title">
      <h1>Mana HR Platform</h1>
      <h2>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CR with median:
      </h2>
    </div>
    <div>
      <br />
      <br />
      <br />
      <div class="forms">
        <div><p class="circle_1">→</p></div>
        <div class="rectangles">
          <div class="rectangle_1"><h3>My company vs Market</h3></div>
          <div class="rectangle_2">103%</div>
        </div>
      </div>
    </div>
  </div>
  <div class="logo_and_user">
    <img src="assets/ASG_Logo.svg" alt="asg_logo" class="asg_logo" />
    <br />
    <br />
    <br />
    <div class="user_and_logout">
      <span class="user">{{ user }}</span>
      <span class="logout" (click)="logout()">Logout</span>
    </div>
  </div>
</div>
<div class="table_div">
  <div class="table_title" id="prueba">
    <p>Jobs</p>
    <button (click)="goToAddPosition()" class="add_new_job">
      Add new job +
    </button>
  </div>
  <div class="table2_div">
    <table class="table">
      <tr class="tr1">
        <th></th>
        <th></th>
        <th></th>
        <th>Number of eployees</th>
        <th></th>
        <th>Distribution of underpaid/overpaid employees</th>
      </tr>
      <tr class="tr2">
        <th>Job Category</th>
        <th>Number</th>
        <th style="color: red">Underpaid</th>
        <th style="color: orange">Corresponding to the market</th>
        <th style="color: green">Overpaid</th>
        <th></th>
      </tr>
      <tr
        *ngFor="let table of table; index as i"
        class="valores_tabla"
        (click)="makeSubTable(table.job_title)"
        id="{{ table.job_title }}"
      >
        <td>{{ table.job_title }}</td>
        <td>{{ table.number }}</td>
        <td>{{ table.salary_level.underpaid }}</td>
        <td>{{ table.salary_level.normal }}</td>
        <td>{{ table.salary_level.overpaid }}</td>
        <td>
          <div class="graph" id="graph{{ i }}"></div>
        </td>
      </tr>
    </table>
  </div>
  <div *ngIf="modal == true" class="modal_exterior" (click)="showModal()">
    <div class="modal table2_div" id="modal">
      <table class="table">
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th>{{ job_title }}</th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
        <tr>
          <th>Position</th>
          <th>Company</th>
          <th>Status</th>
          <th>To be hired</th>
          <th>Salary for position</th>
          <th>Extras</th>
          <th>Bonus</th>
          <th>Total</th>
          <th>Compare to Market</th>
        </tr>
        <tr *ngFor="let job of subTable">
          <td>{{job.position}}</td>
          <td>{{job.company}}</td>
          <td>{{job.status}}</td>
          <td>{{job.to_be_hired}}</td>
          <td>{{job.salary_for_position}}</td>
          <td>{{job.extras}}</td>
          <td>{{job.bonus.value}}</td>
          <td>{{job.total}}</td>
          <td>{{job.compare_to_market}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
