<div class="header_div">
  <div class="title_and_forms">
    <div class="title">
      <h1>Mana HR Platform</h1>
      <h2>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CR with median:
      </h2>
    </div>
    <div>
      <br />
      <br />
      <br />
      <div class="forms">
        <div><p class="circle_1">→</p></div>
        <div class="rectangles">
          <div class="rectangle_1"><h3>My company vs Market</h3></div>
          <div class="rectangle_2">103%</div>
        </div>
      </div>
    </div>
  </div>
  <div class="logo_and_user">
    <img src="assets/ASG_Logo.svg" alt="asg_logo" class="asg_logo" />
    <br />
    <br />
    <br />
    <div class="user_and_logout">
      <span class="user">{{ user }}</span>
      <span class="logout" (click)="logout()">Logout</span>
    </div>
  </div>
</div>
<div class="table">
  <div class="table2"></div>
</div>